[Desktop Entry]
Type=Application
Version=1.0
Name=tiv
Comment=Image viewer
Exec=tiv %F
Terminal=false
Categories=Graphics;2DGraphics;RasterGraphics;Viewer;
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/pjpeg;image/png;image/tiff;image/webp;image/x-bmp;
Keywords=Picture;Graphics;